{% extends "base.html" %}

{% block header %}
<h1>{{ name }}</h1>
{% endblock %}

{% block main_content %}

<p>Add courses that belong to this page</p>
<form method=POST action="">
    <table class="table-form">
      <tr>
        <td><label for="dept">Dept.</label></td>
        <td><input type="text" name='dept' value="{{ dept }}"></td> 
        <!-- make this a drop down -->
      </tr>
      <tr>
        <td><label for="cnum">Course #</label></td>
        <td><input type="text" name='cnum' value="{{ cnum }}"></td> 
      </tr>
    </table>
    <input type="submit" name="submit" value="submit">
</form>
<p>Courses that count for this major</p>
<table>
    {% for course in courses %}
    <tr><td><a href="{{ url_for('update', cid=course[3]) }}">{{ course[0] }} {{ course[1] }}</a></td>
        <td>{{ course[2] }}</td></tr>
    {% endfor %}
</table>

{% endblock %}