{% extends "base.html" %}

{% block header %}
<h1>Insert a New Course</h1>
{% endblock %}

{% block main_content %}
<h2>Enter new courses into our database</h2>

<form class="insert-form" method=POST action="/insert/">
    <table class="table-form">
      <tr>
        <td><label for="dept">Department</label></td>
        <td><input type="text" name='dept' id="dept" value="{{ dept }}" required></td> 
      </tr>
      <tr>
        <td><label for="cnum">Course Number</label></td>
        <td><input type="text" name='cnum' id="cnum" value="{{ cnum }}" required></td>
      </tr>
      <tr>
        <td><label for="name">Course Name</label></td>
        <td><input type="text" name='name' id="name" value="{{ name }}" required></td>
      </tr>
      <tr>
        <td><label for="units">Units</label></td>
        <td><input type="text" name='units' id="units" value="{{ units }}"></td> 
      </tr>
      <tr>
        <td><label for="max_enroll">Max. Enrollment</label></td>
        <td><input type="text" name='max_enroll' id="max_enroll" value="{{ max_enroll }}"></td> 
      </tr>
      <tr>
        <td><label for="prereq">Prequisites</label></td>
        <td><input type="text" name='prereq' id="prereq" value="{{ prereq }}"></td> 
      </tr>
      <tr>
        <td><label for="instruct">Instructor</label></td>
        <td><input type="text" name='instruct' id="instruct" value="{{ instruct }}"></td> 
      </tr>
      <tr>
        <td><label for="dr">Distribution Requirement</label></td>
        <td><input type="text" name='dr' id="dr" value="{{ dr }}"></td> 
      </tr>
      <tr>
        <td><label for="sem_offered">Semesters Offered</label></td>
        <td><input type="text" name='sem_offered' id="sem_offered" value="{{ sem_offered }}"></td> 
      </tr>
      <tr>
        <td><label for="year_offered">Offered This Year?</label></td>
        <td><input type="text" name='year_offered' id="year_offered" value="{{ year_offered }}"></td> 
      </tr>
    </table>
    <input type="submit" name="submit" value="submit">
  </form>

{% endblock %}
