{% extends "base.html" %}

{% block header %}
<h1>Update "{{ name }}"</h1>
{% endblock %}

{% block main_content %}
    <form class="update-form" method=POST action="{{ url_for('update', cid=cid) }}">
      <table class="table-form">
        <tr>
          <td><label for="dept">Department</label></td>
          <td><input type="text" name='dept' id="dept" value="{{ dept }}"></td> 
        </tr>
        <tr>
          <td><label for="cnum">Course Number</label></td>
          <td><input type="text" name='cnum' id="cnum" value="{{ cnum }}"></td>
        </tr>
        <tr>
          <td><label for="name">Course Name</label></td>
          <td><input type="text" name='name' id="name" value="{{ name }}"></td>
        </tr>

        <tr>
          <td><label>Counted Majors</label></td>
          <td><ul>
            {% for major in majors %}
              <li style="text-align:left"><a href="{{ url_for('department_page', dept_id=major[1]) }}">{{ major[0] }}</a>
              <!-- button for delete -->
              <button type="submit" name="submit" value="delete-pair-{{major[1]}}">remove</button>
              </li>
            {% endfor %}
          </ul></td>
        </tr>
      </table>

      <table class="table-form">
        <tr>
          <td><label for="units">Units</label></td>
          <td><input type="text" name='units' id="units" value="{{ units }}"></td> 
        </tr>
        <tr>
          <td><label for="max_enroll">Max. Enrollment</label></td>
          <td><input type="text" name='max_enroll' id="max_enroll" value="{{ max_enroll }}"></td> 
        </tr>
        <tr>
          <td><label for="prereq">Prequisites</label></td>
          <td><input type="text" name='prereq' id="prereq" value="{{ prereq }}"></td> 
        </tr>
        <tr>
          <td><label for="instruct">Instructor</label></td>
          <td><input type="text" name='instruct' id="instruct" value="{{ instruct }}"></td> 
        </tr>
        <tr>
          <td><label for="dr">Distribution Requirement</label></td>
          <td><input type="text" name='dr' id="dr" value="{{ dr }}"></td> 
        </tr>
        <tr>
          <td><label for="sem_offered">Semesters Offered</label></td>
          <td><input type="text" name='sem_offered' id="sem_offered" value="{{ sem_offered }}"></td> 
        </tr>
        <tr>
          <td><label for="year_offered">Offered This Year?</label></td>
          <td><input type="text" name='year_offered' id="year_offered" value="{{ year_offered }}"></td> 
        </tr>
        <tr>
          <td><label for="major_freq">Major Freq</label></td>
          <td><input type="text" name='major_freq' id="major_freq" value="{{ major_freq }}"></td> 
        </tr>
      </table>
      <input type="submit" name="submit" value="update">
      <input type="submit" name="submit" value="delete">
    </form>
    
    <p></p>
    
    <form method=POST action="{{ url_for('update', cid=cid) }}">
      <table class="table-form">
        <tr>
          <td><label for="new_dept">Department Name</label></td>
          <td>
          <!-- make this a drop down -->
          <input list="abbrev"  name='new_dept' id="new_dept" value="{{ new_dept }}" placeholder="Start typing...">
          <datalist id="abbrev">
            {% for dept in depts %}
            <option value="{{dept[1]}}">{{dept[1]}}</option>
            {% endfor %}
          </datalist>
        </td> 
      </table>
      <input type="submit" name="submit" value="add">
  </form>
{% endblock %}