/********** HTML FILE **********/
* {
    box-sizing: border-box;
    font-family: 'Arial';
}

/********** STYLE BASE TEMPLATE **********/
h1 {
    font-size: 35px;
    text-align: center;
    font-family: 'Swiss721BT', 'Open Sans', Helvetica, sans-serif;
    font-weight: bolder;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
    /* margin-top: 30px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 500px;

}


h2 {
    text-align: center;
    font-family: 'Swiss721BT', 'Open Sans', Helvetica, sans-serif;
    color:rgb(119, 115, 115);
    font-size: large;
    margin-top: 0px
}

.header-container{
    background-color: #F7F5F5;
    padding: 10px;
}

p {
    margin-left: 8px;
    font-size: 17px;
}

#messages {
    margin-left: 8px;
    color: red;
}
.banner-box{
    background-color: #002776;

}

.banner-text {
    margin: auto;
    font-size: 5vw;
    font-family: 'Garamondo Pro';
    color:#fff;
    font-weight: bolder;
    text-align: center;
    text-shadow: 3px 3px #5b8ae9c4;
}

/* not working... why?! */
.gradient-border {
    border: solid;
    border-image: radial-gradient(#002776, white)
}

.bg-image{
    background-image: url('../static/W_logo.png');
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    position: relative;
}

.home-btn {
    color: white;
    font-size: large;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/********** STYLE FORM **********/
form {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.class-input {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

input {
    margin-right: 5px;
    margin-left: 5px;
}
.year-1 {
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    background-color: rgb(253, 205, 237);
}

.year-2 {
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    background-color: rgb(237, 254, 200);
}

.year-3 {
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    background-color: rgb(226, 204, 255);
}

.year-4 {
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    background-color: rgb(202, 222, 252);
}



/* Text input on forms */
input[type=text] {
    width: 100px;
}
input[type=number] {
    width: 50px;
    margin-right: 10px;
}

/* Form submit button */
input[type='submit'] {
    margin-bottom: 5px;
    background-color: #002776;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Swiss721BT', 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 2px 2px #5b8ae9c4;
    border: 1px black dashed;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  input[type='submit']:hover{
      background-color: rgb(102, 208, 235);
      border-style: solid;
  }