/* QUESTIONS/ TODO:
    - flex box not inheriting container height and going outside of height
    - Reveal Matches endpoint not connected
 */


/********** HTML FILE **********/
* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;

}

/********** BODY **********/
html, body{
    height: 100%;
    width: 100%;
    background-color: #fccbcd;

}

/********** MAIN **********/
main{
    height:95%;
    width: 95%;
    background-color: white;
    margin: auto;
    border-radius: 25px;
    padding-top:10px;
}

.inside-container{
    height: 98%;
    width: 97%;
    background-color: #bfe2ec;
    margin: auto;
    border-radius: 25px;
    /* border-color: #fee4a7; */
    /* border-width: thick; */
    /* border-style: solid; */
}

/********** STYLE BASE TEMPLATE **********/
h1 {
    font-size: 55px;
    text-align: center;
    font-weight: bolder;
    color: #415a75;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #415a75;
    width: 95%;
    padding: 30px;
    margin: auto;

}


h2 {
    text-align: center;
    font-family: inherit;
    color:#415a75;
    font-size: large;
    margin-top: 0px;
    margin-bottom: 0%;
}

.main-container{
    background-color: white;
}


p {
    margin-left: 8px;
    font-size: 17px;
}

#messages {
    margin-left: 8px;
    color: red;
}


.banner-text {
    margin: auto;
    font-size: 6vw;
    color:#fff;
    font-weight: bolder;
    text-align: center;
    text-shadow: 3px 3px #5b8ae9c4;
}


.home-btn {
    color: white;
    font-size: large;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/********** STYLE FORM **********/
form {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.flex-form-container{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;
    border-radius: 10px;
    margin: 6px;
    padding-right: 5px;
    padding-left: 5px;
}

.class-input {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

input {
    margin-right: 5px;
    margin-left: 5px;
}

.year-1 {
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: thick;
    border-color: #f24f55;
    background-color: #f68589;
    padding: 10px;
}

.year-2 {
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: thick;
    border-color: #7aeb1e;
    background-color: #a9ee70;
    padding: 10px;
}

.year-3 {
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: thick;
    border-color: #f7c82b;
    background-color: #fae293;
    padding: 10px;
}

.year-4 {
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: thick;
    border-color: #8541ea;
    background-color: #b894ef;
    padding: 10px;
}

/* Text input on forms */
input[type=text] {
    width: 100px;
}
input[type=number] {
    width: 50px;
    margin-right: 10px;
}

/* Form submit button button */
input[type='submit'] {
    margin-bottom: 5px;
    background-color: #e7ffff;
    font-size: x-large;
    font-weight: bolder;
    color: #415a75;
    border: 1px black dashed;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  /* Form submit hover */
  input[type='submit']:hover{
      background-color: #fccbcd;
      border-style: solid;
  }