/********** HTML FILE **********/
* {
    box-sizing: border-box;
    font-family: "Arial", "Arial Black";
}

/********** BODY **********/
html, body{
    height: 100%;
    width: 100%;
    background-color: #d5eafc;
}

/********** MAIN **********/
main{
    height:95%;
    width: 95%;
    margin: auto;
    padding-top:10px;
}

/********** STYLE BASE TEMPLATE **********/
h1 {
    font-size: 55px;
    text-align: center;
    font-weight: bolder;
    color: #415a75;
    font-family: 'Arial Black';
    width: 95%;
    padding: 30px;
    margin: auto;
}

h2 {
    text-align: center;
    color:#415a75;
    font-size: large;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 17px;
}

#messages {
    color: rgb(140, 13, 13);
}

.nav-btn {
    color: white;
    font-size: large;
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-btn:hover {
    background-color: #000;
}
/********** STYLE SKILLSBARS **********/
/* Container for skill bars */
.skill-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 10px;

}
  
.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: black; /* White text color */
    font-weight: bold;
    background-color: rgb(198, 148, 0);
    border-radius: 10px;
}
/********** STYLE POPUP **********/
#popup ul span {
	display: none;
}

#popup ul:hover span{ 
    display: flex;
	width: 500;
	padding: 10px;
	color: rgb(0, 0, 0);
	background: rgb(230, 230, 230);
	text-align: left;
	border: 1px solid rgb(102, 102, 102);
}

/********** STYLE RESULTS **********/
#modal-flex{
    padding: 2px;
}

.listed-courses{
    margin-bottom: 6px;
    position: relative;
    top: 2px;
    padding: 7px;
    width: 500px;
    overflow: scroll;
}

.course-div {
    border-radius: 10px;
    border-width: 1px;
    border-style: dashed;
}

.major-name{
    padding-bottom: 10px;
}

.modal-btn{
    position: relative;
    margin-top: 20px;
    bottom: 10px;
    margin-left: 35%;
    background-color: rgb(255, 250, 233);
    font-size: medium;
    font-weight: bolder;
    color: rgb(198, 148, 0);
    border: 1px black dashed;
    border-radius: 5px;
}

.modal-btn:hover{
    background-color: #415a75;
    border-style: solid;
    color: white;
}

.major-container {
    justify-content: center;
    position: relative;
    width: 250px;
    margin: 6px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
}
  
/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    width: 80%;
    text-align: center;
}

/* The Close Button */
#close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.flex-container-modal {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.flex-container-modal > div {
    margin: 20px;
}

/********** STYLE FORM **********/
form {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.flex-form-container {
    padding-top: 8px;
    padding-bottom: 2px;
    background-color: white;
    border-radius: 10px;
    margin: 6px;
    padding-right: 5px;
    padding-left: 5px;
    border-width: 1px;
    border-style: dashed;
}

.class-input {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

input {
    margin-right: 5px;
    margin-left: 21px;
}

.year-1 {
    margin: 5px;
    background-color: #ffaaaa;
    padding: 10px;
    border-radius: 10px;
}

.year-2 {
    margin: 5px;
    background-color: #daeab3;
    padding: 10px;
    border-radius: 10px;
}

.year-3 {
    margin: 5px;
    border-radius: 10px;
    background-color: #ffedb4;
    padding: 10px;
}

.year-4 {
    margin: 5px;
    background-color: #edd5ff;
    padding: 10px;
    border-radius: 10px;
}

/* Text input on forms */
input[type=text] {
    width: 72px;
    color: gray;
    border-color: black;
    border-width: 1px;
}

/* Form submit button button */
input[type='submit'] {
    background-color: white;
    font-size: x-large;
    font-weight: bolder;
    color: #415a75;
    border: 1px black dashed;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Form submit hover */
input[type='submit']:hover {
      background-color: #415a75;
      border-style: solid;
      color: white;
}

select {
    color: gray;
    border-color: black;
    border-width: 1px;
}

/**** CONTACT FORM ****/

#contact-form input[type=text] {
    width: 200px; /* Full width */
    text-align: left;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
#contact-form {
    justify-content: center;
    position: relative;
    width: 35vw;
    margin: auto;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

