{% extends "base.html" %}

{% block header %}
<h1>Welcome!</h1>
{% endblock %}

{% if username %}

    <form method="GET" action="{{url_for('cas.logout')}}">
          <button>logout {{username}}</button>
    </form>

   <p>CAS username: {{username}}</p>
   <p>CAS attributes:</p>
   
   <ul>
       {% for key,val in cas_attributes.items() %}
       <li>{{key}} &rArr; {{val}}</li>
       {% endfor %}
   </ul>

{% else %}

   <form method="GET" action="{{url_for('cas.login')}}">
     <button>login</button>
   </form>

{% endif %} 

{% block main_content %}
<p>Click through the navigation bar or the list below to interact with our courses database</p>

{% endblock %}
