<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Major Match Team" content="">
    <title>{{ page_title }}</title>
    <link href="{{url_for('static', filename = 'style.css')}}" rel='stylesheet'>
</head>



<body>

<main>
<div class="inside-container">

    
    




<!-- taking home button off of home page and having it only on results page -->
{% block navbar %}
<!-- <nav>
    <a href="{{ url_for('index') }}"><button class="home-btn">HOME</button></a>
</nav> -->
{% endblock %}

<div class="header-container">
{% block header %}
<!-- insert title of page -->
{% endblock %}
</div>




{% block main_content %}

<!-- put main content here -->
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% block end_scripts %}
{% endblock %}

</div>
</main>

</body>
</html>
