<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Major Match Team" content="">
    <title>{{ page_title }}</title>
    <link href="{{url_for('static', filename = 'output.css')}}" rel='stylesheet'>
</head>

<body class="w-100vw h-100vh">

{% block banner %}
    <img src="{{url_for('static', filename = 'banner_logo.png')}}" alt="Wellesley College Banner" class="h-16 w-auto">
{% endblock %}


<!-- taking home button off of home page and having it only on results page -->
{% block navbar %}
<!-- <nav>
    <a href="{{ url_for('index') }}"><button class="home-btn">HOME</button></a>
</nav> -->
{% endblock %}

{% block header %}
<!-- insert title of page -->
{% endblock %}

<main class="opacity-30" style="background-image: url('../static/W_logo.png')">

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}


{% block main_content %}

<!-- put main content here -->
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% block end_scripts %}
{% endblock %}

</main>

</body>
</html>
