{% extends "base.html" %}

{% block header %}
<h1 class="bg-pink-400">MAJOR MATCHING</h1>
{% endblock %}

{% block main_content %}
<form method=POST action="">
    <div class="submit-btn"><input type='submit' value='Reveal Matches!'> </div>
    <div class="flex-container">
        <!-- YEAR 1 (8 courses) -->
        <div class="year-1">
            {% for i in range(8) %}
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-{}".format(i)>
                <label>Course #</label>
                <input type="number" name="cnum-{}".format(1)>
            </div>
            {% endfor %}
        </div>
        
        <!-- YEAR 2 (8 courses) -->
        <div class="year-2">
            {% for i in range(8) %}
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-{}".format(i)>
                <label>Course #</label>
                <input type="number" name="cnum-{}".format(1)>
            </div>
            {% endfor %}
        </div>

        <!-- YEAR 3 (8 courses) -->
        <div class="year-3">
            {% for i in range(8) %}
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-{}".format(i)>
                <label>Course #</label>
                <input type="number" name="cnum-{}".format(1)>
            </div>
            {% endfor %}
        </div>

        <!-- YEAR 4 (8 courses) -->
        <div class="year-4">
            {% for i in range(8) %}
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-{}".format(i)>
                <label>Course #</label>
                <input type="number" name="cnum-{}".format(1)>
            </div>
            {% endfor %}
        </div>
    </div>
    </form>
{% endblock %}