{% extends "base.html" %}

{% block header %}
<h1>MAJOR MATCHING</h1>
{% endblock %}

{% block main_content %}
<form method=POST action="">
    <div class="submit-btn"><input type='submit' value='Reveal Matches!'> </div>
    <div class="flex-container">
        <!-- YEAR 1 (8 courses) -->
        <div class="year-1">
        <div class="class-input">
            <label>Dept</label>
            <input type="text" name="dept-1">
            <label>Course #</label>
            <input type="number" name="cnum-1">
        </div>
        
        <div class="class-input">
            <label>Dept</label>
            <input type="text" name="dept-2">
            <label>Course #</label>
            <input type="number" name="cnum-2">
        </div>
        
        <div class="class-input">
            <label>Dept</label>
            <input type="text" name="dept-3">
            <label>Course #</label>
            <input type="number" name="cnum-3">
        </div>
    
        <div class="class-input">
            <label>Dept</label>
            <input type="text" name="dept-4">
            <label>Course #</label>
            <input type="number" name="cnum-4">
        </div>
        
        <div class="class-input">
            <label>Dept</label>
            <input type="text" name="dept-5">
            <label>Course #</label>
            <input type="number" name="cnum-5">
        </div>
    
        <div class="class-input">
            <label>Dept</label>
            <input type="text" name="dept-6">
            <label>Course #</label>
            <input type="number" name="cnum-6">
        </div>
        
        <div class="class-input">
            <label>Dept</label>
            <input type="text" name="dept-7">
            <label>Course #</label>
            <input type="number" name="cnum-7">
        </div>

        <div class="class-input">
            <label>Dept</label>
            <input type="text" name="dept-8">
            <label>Course #</label>
            <input type="number" name="cnum-8">
        </div>
        </div>

        <!-- YEAR 2 (8 courses) -->
        <div class="year-2">
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-9">
                <label>Course #</label>
                <input type="number" name="cnum-9">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-10">
                <label>Course #</label>
                <input type="number" name="cnum-10">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-11">
                <label>Course #</label>
                <input type="number" name="cnum-11">
            </div>
        
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-12">
                <label>Course #</label>
                <input type="number" name="cnum-12">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-13">
                <label>Course #</label>
                <input type="number" name="cnum-13">
            </div>
        
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-14">
                <label>Course #</label>
                <input type="number" name="cnum-14">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-15">
                <label>Course #</label>
                <input type="number" name="cnum-15">
            </div>
    
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-16">
                <label>Course #</label>
                <input type="number" name="cnum-16">
            </div>
            </div>

            <!-- YEAR 3 (8 courses) -->
            <div class="year-3">
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-17">
                <label>Course #</label>
                <input type="number" name="cnum-17">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-18">
                <label>Course #</label>
                <input type="number" name="cnum-18">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-19">
                <label>Course #</label>
                <input type="number" name="cnum-19">
            </div>
        
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-20">
                <label>Course #</label>
                <input type="number" name="cnum-20">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-21">
                <label>Course #</label>
                <input type="number" name="cnum-21">
            </div>
        
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-22">
                <label>Course #</label>
                <input type="number" name="cnum-22">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-23">
                <label>Course #</label>
                <input type="number" name="cnum-23">
            </div>
    
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-24">
                <label>Course #</label>
                <input type="number" name="cnum-24">
            </div>
            </div>

            <!-- YEAR 4 (8 courses) -->
            <div class="year-4">
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-25">
                <label>Course #</label>
                <input type="number" name="cnum-25">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-26">
                <label>Course #</label>
                <input type="number" name="cnum-26">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-27">
                <label>Course #</label>
                <input type="number" name="cnum-27">
            </div>
        
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-28">
                <label>Course #</label>
                <input type="number" name="cnum-28">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-29">
                <label>Course #</label>
                <input type="number" name="cnum-29">
            </div>
        
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-30">
                <label>Course #</label>
                <input type="number" name="cnum-30">
            </div>
            
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-31">
                <label>Course #</label>
                <input type="number" name="cnum-31">
            </div>
    
            <div class="class-input">
                <label>Dept</label>
                <input type="text" name="dept-32">
                <label>Course #</label>
                <input type="number" name="cnum-32">
            </div>
            </div>
        
    </div>
    </form>
{% endblock %}