{% extends "base.html" %}

{% block header %}
<h1>WELLESLEY MAJOR MATCHING</h1>
<h2>Enter in courses taken and future courses to see the major requirements you have fulfilled</h2>
{% endblock %}

{% block main_content %}
<form method="POST" action="">
    <div class="flex-container">
        <!-- YEAR 1 (8 courses) -->
        <div class="flex-form-container">
            <h2>YEAR 1</h2>
            <div class="year-1">
                {% for i in range(8) %}
                <div class="class-input">
                    <label>
                        Dept
                    <select name="dept-{{i}}" style="color: black;">{{dept}}>
                            <option value="dept"></option>>
                    {% for dept in depts %}
                            <option value="{{dept}}">{{dept}}</option>
                    {% endfor %}
                    </select>
                    </label>
                    <label style="padding-left:10px">
                        Course #
                        <input type="text" name="cnum-{{i}}">
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- YEAR 2 (8 courses) -->
        <div class="flex-form-container">
            <h2>YEAR 2</h2>
            <div class="year-2">
                {% for i in range(8,16) %}
                <div class="class-input">
                    <label>
                        Dept
                    <select name="dept-{{i}}" style="color: black;">{{dept}}>
                        <option value="dept"></option>>
                    {% for dept in depts %}
                            <option value="{{dept}}">{{dept}}</option>
                    {% endfor %}
                    </select>
                    </label>
                    <label style="padding-left: 10px;">
                        Course #
                        <input type="text" name="cnum-{{i}}" >
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- YEAR 3 (8 courses) -->
        <div class="flex-form-container">
            <h2>YEAR 3</h2>
            <div class="year-3">
                {% for i in range(16,24) %}
                <div class="class-input">
                    <!-- <label>Dept</label> -->
                    <label>
                        Dept
                    <select name="dept-{{i}}" style="color: black;">{{dept}}>
                        <option value="dept"></option>>
                    {% for dept in depts %}
                            <option value="{{dept}}">{{dept}}</option>
                    {% endfor %}
                    </select>
                    </label>
                    <label style="padding-left: 10px;">
                        Course #
                        <input type="text" name="cnum-{{i}}" >
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>


        <!-- YEAR 4 (8 courses) -->
        <div class="flex-form-container">
            <h2>YEAR 4</h2>
            <div class="year-4">
                {% for i in range(24, 32) %}
                <div class="class-input">
                    <!-- <label>Dept</label> -->
                    <label>
                        Dept
                    <select name="dept-{{i}}" style="color: black;">{{dept}}>
                        <option value="dept"></option>>
                    {% for dept in depts %}
                            <option value="{{dept}}">{{dept}}</option>
                    {% endfor %}
                    </select>
                    </label>
                    <label style="padding-left: 10px;">
                        Course #
                        <input type="text" name="cnum-{{i}}" >
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="submit-btn"><input type='submit' value='Match Me!'> </div>
    </form>
    <!-- TODO: make span tag to make disclaimer bold and text not bold -->
    <h2 style="margin-top:25px; color: rgb(95, 94, 94);">DISCLAIMERS: No summer courses, cross-registerd courses, and only 32 course slots available</h2 style="margin-top:10px">
{% endblock %}