{% extends "base.html" %}

{% block header %}
<h1>Update "{{ name }}"</h1>
{% endblock %}

{% block main_content %}
    <form class="update-form" method=POST action="/update/{{cid}}">
      <table class="table-form">
        <tr>
          <td><label for="dept">Department</label></td>
          <td><input type="text" name='dept' value="{{ dept }}"></td> 
        </tr>
        <tr>
          <td><label for="cnum">Course Number</label></td>
          <td><input type="text" name='cnum' value="{{ cnum }}"></td>
        </tr>
        <tr>
          <td><label for="name">Course Name</label></td>
          <td><input type="text" name='name' value="{{ name }}"></td>
        </tr>

        <tr>
          <td><label>Counted Majors</label></td>
          <td><ul>
            {% for major in majors %}
              <li><a href="{{url_for('department_page', dept_id=major[1])}}">{{ major[0] }}</a>
              <!-- button for delete -->
              <button value="delete-pair">remove</button>
              </li>
            {% endfor %}
          </ul></td>
        </tr>
      </table>

      <table class="table-form">
        <tr>
          <td><label for="units">Units</label></td>
          <td><input type="text" name='units' value="{{ units }}"></td> 
        </tr>
        <tr>
          <td><label for="max_enroll">Max. Enrollment</label></td>
          <td><input type="text" name='max_enroll' value="{{ max_enroll }}"></td> 
        </tr>
        <tr>
          <td><label for="prereq">Prequisites</label></td>
          <td><input type="text" name='prereq' value="{{ prereq }}"></td> 
        </tr>
        <tr>
          <td><label for="instruct">Instructor</label></td>
          <td><input type="text" name='instruct' value="{{ instruct }}"></td> 
        </tr>
        <tr>
          <td><label for="dr">Distribution Requirement</label></td>
          <td><input type="text" name='dr' value="{{ dr }}"></td> 
        </tr>
        <tr>
          <td><label for="sem_offered">Semesters Offered</label></td>
          <td><input type="text" name='max_enroll' value="{{ max_enroll }}"></td> 
        </tr>
        <tr>
          <td><label for="year_offered">Offered This Year?</label></td>
          <td><input type="text" name='year_offered' value="{{ year_offered }}"></td> 
        </tr>
        <tr>
          <td><label for="major_freq">Major Freq</label></td>
          <td><input type="text" name='major_freq' value="{{ major_freq }}"></td> 
        </tr>
      </table>
      <input type="submit" name="submit" value="update">
      <input type="submit" name="submit" value="delete">
    </form>
    <p></p>
    <form method=POST action="">
      <table class="table-form">
        <tr>
          <td><label for="new_dept">Department Name</label></td>
          <td>
          <!-- make this a drop down -->
          <input list="abbrev"  name='new_dept' value="{{ new_dept }}" placeholder="Start typing...">
          <datalist id="abbrev">
            <option>Africana Studies</option>
            <option>American Studies</option>
            <option>Anthropology</option>
            <option>Architecture</option>
            <option>Art History</option>
            <option>Asian American Studies</option>
            <option>Astronomy</option>
            <option>Astrophysics</option>
            <option>Biochemistry</option>
            <option>Biological Sciences</option>
            <option>Chemical Physics</option>
            <option>Chemistry</option>
            <option>Chinese Language and Culture</option>
            <option>Cinema and Media Studies</option>
            <option>Classical Civilization</option>
            <option>Classics</option>
            <option>Cognitive and Linguistic Sciences</option>
            <option>Comparative Literary Studies</option>
            <option>Comparative Race and Ethnicity</option>
            <option>Computer Science</option>
            <option>Data Science</option>
            <option>East Asian Languages and Cultures</option>
            <option>East Asian Studies</option>
            <option>Economics</option>
            <option>Education Studies</option>
            <option>English and Creative Writing</option>
            <option>Environmental Studies</option>
            <option>French & Francophone Studies</option>
            <option>French Cultural Studies</option>
            <option>Geosciences</option>
            <option>German Studies</option>
            <option>Global Portuguese Studies</option>
            <option>Health and Society</option>
            <option>International Relations - Economics</option>
            <option>International Relations - History</option>
            <option>International Relations - Political Science</option>
            <option>Italian Studies</option>
            <option>Japanese Language and Culture</option>
            <option>Jewish Studies</option>
            <option>Korean Language and Culture</option>
            <option>Latin American Studies</option>
            <option>Latina/o Studies</option>
            <option>Mathematics</option>
            <option>Media Arts and Sciences</option>
            <option>Medieval/Renaissance Studies</option>
            <option>Middle Eastern Studies</option>
            <option>Neuroscience</option>
            <option>Peace and Justice Studies</option>
            <option>Philosophy</option>
            <option>Physics</option>
            <option>Political Science</option>
            <option>Psychology</option>
            <option>Religion</option>
            <option>Russian</option>
            <option>Russian Area Studies</option>
            <option>Sociology</option>
            <option>South Asia Studies</option>
            <option>Spanish</option>
            <option>Statistics</option>
            <option>Studio Art</option>
            <option>Teaching and Learning Studies</option>
            <option>Theatre Studies</option>
            <option>Women's and Gender Studies</option>
          </datalist>
        </td> 
      </table>
      <input type="submit" name="submit" value="add">
  </form>
{% endblock %}