/* TODO
    - submit button not going into the center
*/

/********** HTML FILE **********/
* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #fccbcd;
}

/* ********* STYLE BANNER *********
.banner-text {
    margin: auto;
    font-size: 6vw;
    color:#fff;
    font-weight: bolder;
    text-align: center;
    text-shadow: 3px 3px #5b8ae9c4;
} */


/********** STYLE NAVBAR **********/
.topnav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: #fffdd1    ;
}
/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Navbar links on mouse-over */
.topnav a:hover {
    background-color: #fee4a7;
    color: black;
}
/* Active/current link */
.topnav a:active {
    background-color:#fccbcd;
    color:white;
    font-weight: bold;
}

/********** STYLE BASE TEMPLATE **********/
body {
    margin-top: 75px;
}

h1 {
    font-size: 55px;
    text-align: center;
    font-weight: bolder;
    color: #415a75;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #415a75;
    width: 95%;
    padding: 30px;
    margin: auto;
}

h2 {
    text-align: center;
    font-family: inherit;
    color:#415a75;
    font-size: large;
    margin-top: 0px;
    margin-bottom: 0%;
}

p {
    margin-left: 8px;
    font-size: 17px;
}

#messages {
    margin-left: 8px;
    color: red;
}

/********** FOOTER **********/
.validation_icons{
    padding-top: 10%;
    position: absolute;
    bottom: 10px;
    margin-left: 8px;
}

.sr-only {
    display: none;
    visibility: hidden;
}

.footer-tag {
    color:rgb(34, 53, 139);
    padding-top: 10%;
    position: absolute;
    bottom: 40px;
}

/********** STYLE FORM **********/
.update-form {
    margin-left: 8px;
}

.table-form {
    margin-bottom: 10px;
    border: black solid;
    padding: 5px;
    font-weight: bold;
    background-color:#e7ffff;
    margin: auto;

}

.insert-form{
   margin: auto;
}

td{
    padding: 5px;
    padding-left: 2px;
}

.row-titles {
    background-color: rgb(241, 241, 241);
    font-style: italic;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

/* Text input on forms */
input[type=text] {
    width: 200px;
}

/* Form submit button */
input[type='submit'] {
    background-color: #7cace1;
    font-family: 'Gill Sans';
    font-size: x-large;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
