/********** HTML FILE **********/
* {
    box-sizing: border-box;
    font-family: 'Gill Sans';
}

html, body {
    width: 100%;

}

/********** STYLE BANNER **********/
.banner-box{
    background-color: #6092f5d7;

}

.banner-text {
    margin: auto;
    font-size: 6vw;
    font-family: 'Swiss721BT', 'Open Sans', Helvetica, sans-serif;
    color:#fff;
    font-weight: bolder;
    text-align: center;
    text-shadow: 3px 3px #5b8ae9c4;
}


/********** STYLE NAVBAR **********/
.topnav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: #e9e9e9;
}
/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Navbar links on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Active/current link */
.topnav a:active {
    background-color:rgb(61, 94, 244);
    color:white;
    font-weight: bold;
}

/********** STYLE BASE TEMPLATE **********/
body {
    margin-top: 75px;
}

h1 {
    color:rgb(74, 87, 206);
    margin-left: 8px;
}

h2 {
    color:rgb(96, 110, 213);
    margin-left: 8px;
}

p {
    margin-left: 8px;
    font-size: 17px;
}

#messages {
    margin-left: 8px;
    color: red;
}

/********** FOOTER **********/
.validation_icons{
    padding-top: 10%;
    position: absolute;
    bottom: 10px;
    margin-left: 8px;
}

.sr-only {
    display: none;
    visibility: hidden;
}

.footer-tag {
    color:rgb(34, 53, 139);
    padding-top: 10%;
    position: absolute;
    bottom: 40px;
}

/********** STYLE FORM **********/
.update-form {
    margin-left: 8px;
}

.table-form {
    margin-bottom: 10px;
    border: black solid;
    padding: 5px;
    font-weight: bold;

}

td{
    padding: 5px;
    padding-left: 2px;
}

.row-titles {
    background-color: rgb(241, 241, 241);
    font-style: italic;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

/* Text input on forms */
input[type=text] {
    width: 200px;
}

/* Form submit button */
input[type='submit'] {
    background-color: #5cb2f8;
    font-family: 'Gill Sans';
    font-size: x-large;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

  }


/* .depts_table{
    
} */